body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  color:#245240;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.menu-link{
  color: #245240;
}

.active-link,.yummy-btn{
  background-color: #ecdb51;
  color:#245240;
  border-radius: 5px;
  box-shadow: 2px 3px 4px 0px rgb(183 211 198);
  -webkit-box-shadow: 2px 3px 4px 0px rgb(183 211 198);
  -moz-box-shadow: 2px 3px 4px 0px rgb(183 211 198);
  transition: all 0.3s ease-in-out;
}

.yummy-btn:hover{
  background-color: #245240;
  color:#ecdb51;
  box-shadow: 2px 3px 4px 0px rgb(183 211 198);
  -webkit-box-shadow: 2px 3px 4px 0px rgb(183 211 198);
  -moz-box-shadow: 2px 3px 4px 0px rgb(183 211 198);
}

.food-image-home{
  background: url(../src/assets/images/landingpage-food.png) no-repeat;
  background-size: cover;
}