@import "tailwindcss";
@plugin "daisyui";

.custom-scrollbar::-webkit-scrollbar {
  height: 12px;
  background: #f5f5f5;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #FFC649;
  border-radius: 8px;
  border: 2px solid #255140;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #e5b93f;
}
.custom-scrollbar {
  scrollbar-color: #FFC649 #f5f5f5;
  scrollbar-width: thin;
}